<!-- <div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="row">
                    <div style="margin-top:40px;" class="">
                        <div class="form-group">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <span class="glyphicon glyphicon-th"></span>
                                    Create User
                                </h3>
                            </div>
                            <div style="text-align: left;">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Username"
                                            [(ngModel)]="user.username">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" type="password" placeholder="Password"
                                            [(ngModel)]="user.password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" readonly class="form-control" placeholder="Company Name"
                                            [(ngModel)]="company.companyName">
                                    </div>
                                </div>
                            </div>
                            <div class="save-button">
                                <button type="submit" (click)="createUser()">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="login-wrapper">
	<div class="container" id="container">
		<div class="form-container sign-in-container">
            <div class="form-group">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
                        Create Company
                    </h3>
                </div>
                <div style="text-align: left;">

                    <div class="form-group">
                        <div class="input-group">
                            <input #usernameInput="ngModel" class="form-control" required type="text" placeholder="Username"
                                [(ngModel)]="user.username">
                        </div>
                        <span class="validations" *ngIf="usernameInput.errors?.required && usernameInput.touched"> Enter a username<br></span>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <input #passwordInput="ngModel" class="form-control" required type="password" placeholder="Password"
                                [(ngModel)]="user.password">
                        </div>
                        <span class="validations" *ngIf="passwordInput.errors?.required && passwordInput.touched"> Enter a password<br></span>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" readonly placeholder="Company name"
                                [(ngModel)]="company.companyName">
                        </div>
                    </div>
                </div>
                <p>*All fields are required</p>
                <div class="save-button">
                    <button type="submit" (click)="createUser()">Create User</button>
                </div>
                <a class="back" href="http://localhost:4200/admin/company-page"><h6>Take me back</h6></a>
            </div>
        </div>
	</div>
</div>