<section class="text-center about">
    <h1>About US</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
          <span class="fas fa-crown"></span>
          <h2>Leadership</h2>
          <p class="lead">Couponify is led by top executives and innovators and is bound to grow massively</p>
        </div>
        <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
          <span class="fas fa-receipt"></span>
          <h2>Couponify </h2>
          <p class="lead">Couponify is the leading coupons platform. The company is serving coupons to over 200+ countries around the world. </p>
        </div>
        <div class="clearfix visible-md-block visible-sm-block"></div>
        <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
          <span class="fas fa-users"></span>
          <h2>Team</h2>
          <p class="lead">Couponify has gathered the world's brightest engineers to develop the world's leading coupon website.</p>
        </div>
        
      </div>
      
    </div>
  </section>