<footer class="py-3 bg-light" style="background-color: #eee !important">
    <div class="container text-center">
              <a href="https://www.facebook.com/shlomi.kariti1" target="_blank" class="facebook">
                <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
           <a href="https://twitter.com/shlomi_kariti" target="_blank" class="twitter">
            <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/ShlomiKariti" target="_blank" class="github">
            <i class="fab fa-github" aria-hidden="true"></i>
        </a>
      <p class="text-secondary">Copyright 2020. All rights reserved!</p>
    </div>
  </footer>