<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="col-xl-12 col-sm-9">
    <!-- Editable table -->
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Customers
    </h3>
    <div class="card-body table-wrapper-scroll-y my-custom-scrollbar">
        <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Age</th>
                        <th class="text-center">Username</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-data-row" *ngFor="let currentCustomer of customers">

                        <td class="pt-3-half">
                            {{ currentCustomer?.name }}
                        </td>
                        <td class="pt-3-half" >
                            {{ currentCustomer?.email }}
                        </td>
                        <td class="pt-3-half" >
                            {{ currentCustomer?.age }}
                        </td>
                        <td class="pt-3-half">
                            {{ currentCustomer?.user.username }}
                        </td>

                        <td>
                            <button class="action-button" data-toggle="modal" data-target="#myModal"><i
                                    class="fas fa-pencil-alt fa-lg" aria-hidden="true"
                                    (click)="showCustomer(currentCustomer)"></i></button>
                            <button class="action-button"><i class="fas fa-trash-alt fa-lg" aria-hidden="true"
                                    (click)="removeCustomer(currentCustomer.id)"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Editable table -->
</div>

<div class="container">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100 ml-5">Update Customer</h3>
                    <button type="button" class="close fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- <div class="image-box"> <br>
                            <img alt="" class="img-thumbnail" src="{{this.updatedCompany?.image}}"
                                alt="Card image cap"
                                onerror="this.src='https://icon2.cleanpng.com/20180605/ijl/kisspng-computer-icons-image-file-formats-no-image-5b16ff0d2414b5.0787389815282337411478.jpg'"
                                width="399px" height="150px">
                        </div> -->
                        <div style="margin-top:40px;">
                            <div class="form-group">
                                <div class="panel-heading">
                                </div>
                                <div style="text-align: left;">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="input-group-text" for="name">Name</label>
                                            <input #nameInput="ngModel" required type="text" id="name"
                                                class="form-control" placeholder="Name"
                                                [(ngModel)]="this.updatedCustomer.name">
                                        </div>
                                        <span class="validations" *ngIf="nameInput.errors?.required && nameInput.touched"> Enter your name<br></span>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="input-group-text" for="email">Email</label>
                                            <input #emailInput="ngModel" required type="email" id="email"
                                                class="form-control" placeholder="Email"
                                                [(ngModel)]="this.updatedCustomer.email">
                                        </div>
                                        <span class="validations"
                                            *ngIf="emailInput.errors?.required && emailInput.touched"> Enter your email address<br></span>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="input-group-text" for="age">Age</label>
                                            <input #ageInput="ngModel" required type="text" id="age"
                                                class="form-control" placeholder="Age"
                                                [(ngModel)]="this.updatedCustomer.age">
                                        </div>
                                        <span class="validations" *ngIf="ageInput.errors?.required && ageInput.touched">
                                            Enter your age<br></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <div class="save-button">
                        <button type="submit" class="btn btn-default"
                            (click)="updateCustomer(this.updatedCustomer)">Save Changes</button>
                    </div>
                    <button type="button" class="btn btn-default" (click)="leaveForm()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>