<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
            <div class="panel panel-info">

                <div class="panel-body">
                    <div class="row">

                        <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br>
                            <img alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar7.png">
                        </div>
                        <div style="margin-top:40px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                            <div class="form-group">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <span class="glyphicon glyphicon-th"></span>
                                        Change password
                                    </h3>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                    <input class="form-control" type="password" placeholder="Current Password" [(ngModel)]="changePasswordDetails.oldPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span>
                                    </div>
                                    <input class="form-control" type="password" placeholder="New Password" [(ngModel)]="changePasswordDetails.newPassword">
                                </div>
                            </div>
                            <div class="save-button">
                                <button type="submit" (click)="changePassword()">Change Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>