<div id="user-profile-2" class="user-profile">
    <div class="tabbable">
        <div class="tab-content no-border padding-24">
            <div id="home" class="tab-pane in active">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 center">
                        <span class="profile-picture">
                            <img class="editable img-responsive" alt=" Avatar" id="avatar2"
                                src="https://bootdey.com/img/Content/avatar/avatar7.png" width="200px">
                        </span>
                    </div>

                    <div class="col-xs-12 col-sm-9">
                        <h4 class="blue">
                            <span class="customer-info">Customer Information</span>
                        </h4>

                        <div class="profile-user-info">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Name </div>

                                <div class="profile-info-value">
                                    <span>{{customer?.name}}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Email </div>
                                <div class="profile-info-value">
                                    <span>{{customer?.email}}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Age </div>

                                <div class="profile-info-value">
                                    <span>{{customer?.age}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <button type="submit" class="personal-info-btn" (click)="updatePersonalInfo()">Update
                                    Personal Info</button>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name password"> Password </div>
                                <div class="profile-info-value password">
                                    <span>********
                                        <button class="text-success"><i class="fas fa-pencil-alt fa-lg"
                                                aria-hidden="true" (click)="changePassword()"></i></button></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="space-20"></div>

                <div class="row information">
                    <div class="col-xs-12 col-sm-6">
                        <div class="col-xs-12 col-sm-12">
                            <!-- Editable table -->
                            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Purchase History
                            </h3>
                            <div class="card-body table-wrapper-scroll-y my-custom-scrollbar" >
                                <div id="table" class="table-editable">
                                    <table
                                        class="table table-bordered table-responsive-md table-striped text-center mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Coupon</th>
                                                <th class="text-center">Company</th>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Amount</th>
                                                <th class="text-center">Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let currentPurchase of purchases" (click)=[(showPurchase(currentPurchase))] >
                                                <td>{{ currentPurchase.coupon?.title }}</td>
                                                <td>{{ currentPurchase.coupon?.category }}</td>
                                                <td>{{ currentPurchase?.purchaseDate }}</td>
                                                <td>{{ currentPurchase?.amount }}</td>
                                                <td>{{ currentPurchase?.amount*currentPurchase.coupon?.price }}$</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Editable table -->
                        </div>
                    </div>
                </div>
            </div><!-- /#home -->
        </div>
    </div>
</div>