/* You can add global styles to this file, and also import other style files */
@import url(https://use.fontawesome.com/releases/v5.14.0/css/all.css);

html, body { 
height:100%;
margin:0; 
padding:0;
}